.page-wrapper
  .container.page-container
    .page-image
      %ul.slider
        -@listing.images.each do |image_url|
          %li{style: "background-image: url(#{image_url.full})"}
    .page-content
      %h3= @listing.nice_title
      %hr
      =simple_format @listing.description
      %blockquote
        PLEASE NOTE ALL OUR PRODUCTS ARE LISTED IN $USD
      %h3= "$#{@listing.price}"
      =link_to "Buy on Etsy", @listing.url, target: "_blank", class: "btn"
      =mail_to 'heidi@bohokitty.com', 'ask a question', class: "btn", subject: "re: #{@listing.title}"
.container.listing-details
  = shop_instance.policy_refunds
